.login{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
    background: #E5E5E5;
}

img{
    width: 95%;
    max-width: 676px;
    margin-bottom: 2rem;
}


.welcome-text{
    font-family: 'Inter', sans-serif;
    font-size: 50px;
    font-weight: 700;
    line-height: 61px;
    color: #FE1936;
  }
  
  p{
    color: #302F2F;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    line-height: 30px;
  }
  
  form{
      margin-top: 3rem;
      width: 300px;
      height: 50px;
      display: flex;
  }

  input{
    width: 200px;
    height: 40px;
    font-size: 25px;
  }
  
  .begin-button{
    background: #D33F3F;
    color: #FFFFFF;
    font-size: 24px;
    width: 100px;
    max-width: 209.21px;
    height: 40px;
    border: none;
    cursor: pointer;
  }

  .begin-button:hover{
    background: #c92222;
  }

  .rectangle147{
    position: absolute;
    width: 100%;
    height: 80px;
    left: 0px;
    bottom: 0;
    background: #DD1A1A;
  }

  .rectangle148{
    position: absolute;
    width: 100%;
    height: 30px;
    left: 0px;
    bottom: 0;
    background: #0c0c0c;
  }

  .footer img{
    margin: 0;
    position: absolute;
    width: 58px;
    z-index: 1;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  
@media screen and (min-width: 768px){
    form{
        width: 671px;
        height: 68px;
    }
    input{
        width: 671px;
        height: 68px;
    }
    .begin-button{
        width: 209.21px;
        height: 68px;
    }
}